#home {
  background-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, .7),
    rgba(0, 0, 0, 0)
  ), url('/images/home-background.jpg');

  main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  main .description {
    text-align: right;
    margin-bottom: 100px;
  }
}
