#projects {
  background-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, .8),
    rgba(0, 0, 0, .6)
  ), url('/images/projects-background.jpg');

  main {
    .in-development {
      font-size: 48px;
      font-weight: inherit;
      text-align: center;
      margin-top: 140px;
      letter-spacing: 2px;
    }
  }
}
