// Styles
@import "styles/_font.scss";
@import "styles/_header.scss";

// Pages
@import "styles/_home.scss";
@import "styles/_about.scss";
@import "styles/_projects.scss";
@import "styles/_contact.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body, #app {
  color: #FFF;
  width: 100vw;
  font-family: Oswald, sans-serif;
  overflow-x: hidden;
}

.page {
  min-height: 100vh;
  width: 100vw;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  main {
    margin-top: 80px;
    font-weight: 300;

    .title {
      font-size: 60px;
      font-weight: inherit;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;      
      margin-bottom: 30px;
      transform: scale(1, 1.1);
      letter-spacing: 1px;
    }
  }

  footer.read-more {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: auto;
    cursor: pointer;

    span {
      margin-bottom: 10px;
    }
  }
}
